@model DataLayer.Entities.Stamp

@{
    ViewData["Title"] = "Delete";
}



<h2>Штамп успешно удален!</h2>
<br/>
<br/>
<div class="row">

    <a class="col-md-2  offset-md-4 btn btn-secondary" asp-controller="Stamps" asp-action="GetAllStamps" > OK </a>

</div>
