@model DataLayer.Entities.PunchMatrix

@{
    ViewData["Title"] = "Edit";
    string url = (string)ViewData["Url"] ?? "#";
}

<h2>Редактирование</h2>

<h4>Пуансон-матрица</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Length" class="control-label"></label>
                <input asp-for="Length" class="form-control" />
                <span asp-validation-for="Length" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Width" class="control-label"></label>
                <input asp-for="Width" class="form-control" />
                <span asp-validation-for="Width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hieght" class="control-label"></label>
                <input asp-for="Hieght" class="form-control" />
                <span asp-validation-for="Hieght" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FlangeHieght" class="control-label"></label>
                <input asp-for="FlangeHieght" class="form-control" />
                <span asp-validation-for="FlangeHieght" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FlangeWidth" class="control-label"></label>
                <input asp-for="FlangeWidth" class="form-control" />
                <span asp-validation-for="FlangeWidth" class="text-danger"></span>
            </div>
            <input asp-for="StampName" type="hidden" />
            <div class="form-row">
                <div class="form-group col-md-4">
                    <input type="submit" value="Сохранить" class="btn btn-secondary" />
                </div>
                <div class="form-group offset-md-4 col-md-4 ">
                    <a href="@url" class="btn btn-secondary">
                        Назад
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
