@model DataLayer.Entities.BottomPlate

@{
    ViewData["Title"] = "Edit";
    string url = (string)ViewData["Url"] ?? "#";
}


<h2>Редактирование</h2>

<h4>Нижняя плита</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalLength" class="control-label"></label>
                <input asp-for="TotalLength" class="form-control" />
                <span asp-validation-for="TotalLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalWidth" class="control-label"></label>
                <input asp-for="TotalWidth" class="form-control" />
                <span asp-validation-for="TotalWidth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hieght" class="control-label"></label>
                <input asp-for="Hieght" class="form-control" />
                <span asp-validation-for="Hieght" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SfelfWidth" class="control-label"></label>
                <input asp-for="SfelfWidth" class="form-control" />
                <span asp-validation-for="SfelfWidth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SfelfHeight" class="control-label"></label>
                <input asp-for="SfelfHeight" class="form-control" />
                <span asp-validation-for="SfelfHeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="СastLength" class="control-label"></label>
                <input asp-for="СastLength" class="form-control" />
                <span asp-validation-for="СastLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="СastWidth" class="control-label"></label>
                <input asp-for="СastWidth" class="form-control" />
                <span asp-validation-for="СastWidth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="СastHeight" class="control-label"></label>
                <input asp-for="СastHeight" class="form-control" />
                <span asp-validation-for="СastHeight" class="text-danger"></span>
            </div>

           
            <input type="hidden" asp-for="StampName" />
            <div class="form-row">
                <div class="form-group col-md-4">
                    <input type="submit" value="Сохранить" class="btn btn-secondary" />
                </div>
                <div class="form-group offset-md-4 col-md-4 ">
                    <a href="@url" class="btn btn-secondary">
                        Назад
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
