@model DataLayer.Entities.Detail

@{
    ViewData["Title"] = "Delete";
}



<h2>Деталь успешно удалена!</h2>
<br/>
<br/>
<div class="row">

    <a class="col-md-2  offset-md-4 btn btn-secondary" asp-controller="details" asp-action="GetAllDetails" > OK </a>

</div>
