@using Microsoft.AspNetCore.Identity;
@using DataLayer.Data
@inject SignInManager<ApplicationUser> signInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DesignStamp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>

        <!-- Панель навигации -->
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container">
                <!-- меню сайта -->

                <div class="navbar-nav">
                    <a class="navbar-brand" href="#">Расчет штампов</a>
                    @await Component.InvokeAsync("Menu")
                </div>
                <partial name="_UserPartial" />


            </div>     <!-- Информация пользователя - конец -->

        </nav> <!-- Панель навигации - конец -->
        <!-- container - конец -->
    </header><!-- header - конец -->

    <div >
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    

    <footer class="border-top footer text-muted navbar-dark bg-dark">
        <div class="container">
            &copy; 2022 - Расчет штампов @*- <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>*@
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
